
<!DOCTYPE html> 
<html lang="en"> 
  
<head> 
    <title>particles.js</title> 
  
    <!-- Import style.css from root directory -->
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
</head> 
  
<body> 
    <!-- Particles.js div -->
    <div id="particles-js" class="container particle"> 
        <div class="heading" > 
            <span><h1>Test</h1> </span>
            <h3> 
                abcd123
            </h3> 
        </div> 
    </div> 
  
    <!-- Import Particles.js and app.js files -->
    <script src="{{url_for('static',filename='js/particles.js-master/particles.js')}}"></script>
    <script src="{{url_for('static',filename='js/particles.js-master/demo/js/app.js')}}"></script>
   
     
</body> 
  
</html> 